extends ./base.jade
block content
  .container
    .row
      .col-xs-6.col-md-12
        .panel.panel-default(style='white-space:pre-wrap;')
          table.table.table-bordered.table-striped
            thead
              tr
                th ID wyznania
                th Treść
                th Obrazek
                th Auth
                th Link na wykopie
                th Dodany przez
                th Akcje
            tr
              each confession, index in confessions
                case confession.status
                  when -1
                    -var rowClass = 'danger'
                  when 1
                    -var rowClass = 'success'
                  default
                    -var rowClass = 'warning'
                tr(class=rowClass)
                  td 
                   a(href="details/#{confession._id}") #{confession._id}
                   if confession.survey
                    br
                    span.glyphicon.glyphicon-info-sign
                  td(style="word-break: break-all;") #{confession.text}
                  td
                   a(href="#{confession.embed}", target="_blank") #{confession.embed}
                  td #{confession.auth}
                  td 
                    a(href="http://wykop.pl/wpis/#{confession.entryID}", target="_blank") #{confession.entryID}
                  td #{confession.addedBy}
                  td
                    button.btn.btn-success.actionButton&attributes({'data-action':'accept', 'data-id':confession.id, 'data-object':'confession'}) Dodaj
                    span.label.label-small.label-danger.actionButton(style="display: block; margin-top: 0.5em;")&attributes({'data-action':'danger', 'data-id':confession.id, 'data-object':'confession'}) Nieodpowiedni
block script
  script(type="text/javascript")
    include ./scripts/panel.js
