extends ./base.jade
block content
  table.table.table-stripped
    tr
      td _id
      td text
      td embed
      td authString
      td entryID
      td addedBy
      td ACTIONS
      each confession, index in confessions
        case confession.status
          when -1
            -var rowClass = 'danger'
          when 1
            -var rowClass = 'success'
          default
            -var rowClass = 'warning'
        tr(class=rowClass)
          td #{confession._id}
          td #{confession.text}
          td
           a(href="#{confession.embed}", target="_blank") #{confession.embed.slice(0,32)}
          td #{confession.auth}
          td 
            a(href="http://wykop.pl/wpis/#{confession.entryID}", target="_blank") #{confession.entryID}
          td #{confession.addedBy}
          td
            button.btn.btn-success.actionButton&attributes({'data-action':'add', 'data-id':confession.id, 'data-endpoint':'confession'}) Dodaj
            span.label.label-small.label-danger.actionButton&attributes({'data-action':'danger', 'data-id':confession.id, 'data-endpoint':'confession'}) DANGER
block script
  script(type="text/javascript")
    include ./scripts/panel.js
