extends ./base.jade
block content
  table.table.table-stripped
    tr
      td _id
      td text
      td embed
      td authString
      td entryID
      td addedBy
      td ACTIONS
      each confession, index in confessions
        tr(class=confession.accepted ? 'success' : 'warning')
          td #{confession._id}
          td #{confession.text}
          td
           a(href="#{confession.embed}", target="_blank") #{confession.embed}
          td #{confession.auth}
          td 
            a(href="http://wykop.pl/wpis/#{confession.entryID}", target="_blank") #{confession.entryID}
          td #{confession.addedBy}
          td
            button.btn.btn-large.btn-success.accept(data-action="add", data-id="#{confession._id}", data-endpoint="confession") Dodaj
block script
  script(type="text/javascript")
    include ./scripts/panel.js
