extends ./base.jade
block content
  .container
    .row
      .col-md-12
        .panel.panel-default(style='white-space:pre-wrap;')
          table.table.table-bordered.table-striped
            thead
              tr
                th ID
                th Nick
                th Treść
                th Obrazek
                th Auth
                th Link na wykopie
                th Dodany przez
                th Akcje
            tr
              each reply, index in replies
                case reply.status
                  when -1
                    -var rowClass = 'danger'
                  when 1
                    -var rowClass = 'success'
                  default
                    -var rowClass = 'warning'
                tr(class=rowClass)
                  td
                    a.btn.btn-default.btn-xs(tabindex="0", type="button", role="button", data-toggle="popover", data-trigger="focus", title="ID wyznania", data-content="#{reply._id}", data-placement="top") #{reply._id.toString().substring(16)}
                  td #{reply.alias}
                  td #{reply.text}
                  td
                    if confession.embed
                   a(href="#{reply.embed}", target="_blank") Otwórz
                  td #{reply.auth}
                  td 
                    a(href="http://wykop.pl/wpis/#{reply.parentID.entryID}", target="_blank") #{reply.parentID.entryID}
                  td #{reply.addedBy}
                  td
                    button.btn.btn-success.actionButton&attributes({'data-action':'accept', 'data-id':reply.id, 'data-object':'reply'}) Dodaj
                    span.label.label-small.label-danger.actionButton(style="display: block; margin-top: 0.5em;")&attributes({'data-action':'danger', 'data-id':reply.id, 'data-object':'reply'}) Nieodpowiednia
block script
  script(type="text/javascript")
    include ./scripts/panel.js
