extends ./base.jade
block content
  input#auth
  table.table.table-stripped
    tr
      td _id
      td alias
      td text
      td embed
      td authString
      td parentID
      td addedBy
      td ACTIONS
      each reply, index in replies
        case reply.status
          when -1
            -var rowClass = 'danger'
          when 1
            -var rowClass = 'success'
          default
            -var rowClass = 'warning'
        tr(class=rowClass)
          td #{reply._id}
          td #{reply.alias}
          td #{reply.text}
          td
           a(href="#{reply.embed}", target="_blank") #{reply.embed.slice(0,32)}
          td #{reply.auth}
          td 
            a(href="http://wykop.pl/wpis/#{reply.parentID.entryID}", target="_blank") #{reply.parentID.entryID}
          td #{reply.addedBy}
          td
            button.btn.btn-success.actionButton&attributes({'data-action':'add', 'data-id':reply.id, 'data-endpoint':'reply'}) Dodaj
            span.label.label-small.label-danger.actionButton&attributes({'data-action':'danger', 'data-id':reply.id, 'data-endpoint':'reply'}) Nieodpowiednia
block script
  script(type="text/javascript")
    include ./scripts/panel.js
