extends ./base.jade
block content
  .alert.alert-success
    strong Dodano! &nbsp;
    | Wyznanie pojawi się na mikroblogu po zaakceptowaniu
    br
    | Kod autoryzacji: <strong>#{confession.auth}</strong> (dzięki niemu będziesz mogł odpowiadać w swoim wpisie jako OP).
    | Pod tym linkiem mozesz przeglądać co dzieje się z twoim wyzaniem i jakie akcje zostały podjęte, mozesz takze czytac wiadomosci prywatne, jesli jakies się pojawią.
    b  Pamiętaj kod jest tajny i jeśli dostanie się w ręce osob trzecich uzyskaja dostep do twoich prywatnych wiadomosci i beda mogly odpowiadac w twoim imieniu
  .panel.panel-default
    .panel-heading
      |Wpis
      if confession.entryID
        a(href="http://wykop.pl/wpis/#{confession.entryID}" target="_blank")  #{confession.entryID}
    .panel-body(style='white-space:pre-wrap;')
      |#{confession.text}
      if confession.survey
        hr
        h3 Ankieta
        ul
          li
            strong Pytanie: #{confession.survey.question}
            ul
              each answer, i in confession.survey.answers
                li #{answer}
      img(src="#{confession.embed}").img-responsive
  h3 Akcje
  .list-group
    each action, index in confession.actions
      a.list-group-item
        p.list-group-item-text
        |#{action.action} #{action.time}
  h3 Konwersacje
  ul.list-group
    if confession.conversations
      each conversation, index in confession.conversations
          li.list-group-item
            span.badge 34
            a(href="../../conversation/#{conversation}/#{confession.auth}") #{conversation}
    else
    p Nie masz jeszcze zadnych konwersacji
